body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;

}
button{
  border-radius: 10px;
  background-color: rgb(101, 255, 46);
  color: rgb(29, 0, 252);
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.container{
  background-color: rgb(79, 255, 255);
  border-radius: 30px;
  padding-bottom: 60px;
  max-width: 500px;
}
.container1{
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 24px; 
}
.container2{
 display: grid;
 grid-template-columns: 1fr 1fr;
 border-radius: 30px;
}
.container21{
  margin-left:10px ;
}
.container22{
  margin-left: 40px;
  margin-top: 0px;
}
img{
  border-radius: 10px;
  width: 100%;
}
.searchInput{
  background: transparent;
  border:none;
  border-color: none;
  color: darkblue;
  font-size: 20px;
  text-align: center;
  height: 50px;
  margin-bottom: 25px;
  text-decoration: underline;
  margin-top: 20px;
}
.searchInput:focus{
  outline:none;
}

